.btn-mgf{

    background: transparent !important;
    border: 2px solid $maincolor;
    background: $maincolor;
    min-width: 140px;
    border-radius: 0;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px ;
    cursor: pointer;
    transition: all 0.5s ease-out;
    color: $maincolor;
    &:hover{
        text-decoration: none;
        
    }
    
}