//$mainfont :  'Anton', sans-serif;
$mainfont : 'Libre Franklin', sans-serif;
$secondfont : 'Bebas Neue', cursive; 

$maincolor : #E4743D;
$content-color : #fff;
$graycolor : #636363;
$review : #aaaaaa;
$background-dark : #3F3F3F;